Source: libimlayouts
Section: libs
Priority: extra
Maintainer: Jonathan Wilson <jfwfreo@tpgi.com.au>
Build-Depends: debhelper (>= 5), cdbs, libglib2.0-dev

Package: libimlayouts0
Section: libs
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}
Description: IM Layouts Library
 Library for IM Layouts.

Package: libimlayouts0-dev
Section: devel
Priority: extra
Architecture: all
Depends: libimlayouts0, pkg-config
Description: IM Layouts Library dev package.
 Library for IM Layouts dev package.

Package: libimlayouts0-dbg
Section: devel
Priority: extra
Architecture: any
Depends: libimlayouts0 (= ${binary:Version}), pkg-config
Description: IM Layouts Library Debug symbols
 Debug symbols for IM Layouts Library.
